@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Black.ttf') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Heavy.ttf') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-SemiBold.ttf') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Medium.ttf') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Light.ttf') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mate';
    src: url('/fonts/Gilroy-Thin.ttf') format('woff2');
    font-weight: 200;
    font-style: normal;
}