.page {
  width: 100%;
  height: auto;
  background-color: #080B20;
  background-image: url('/pictures/home/demo-background.svg');
  background-size: cover;
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow: hidden;
}

.page .main {
  width: 100%;
  height: 100%;
}

.page .main .container {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.page .main .container .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page .main .container .nav .logo {
  width: auto;
  height: 40px;
  position: relative;
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

.page .main .container .nav .logo img {
  border-radius: 1px;
  margin-right: 10px;
  display: flex;
  align-self: center;
}

.page .main .container .nav .logo span {
  color: #fff;
  font-family: 'Mate';
  font-size: 28px;
  font-weight: 700;
}

.page .main .container .nav .buttons {
  display: flex;
  flex-direction: row;
}

.page .main .container .nav .buttons .signup {
  width: 130px;
  height: 40px;
  position: relative;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  cursor: pointer;
}

.page .main .container .nav .buttons .signup span {
  color: #fff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
}

.page .main .container .nav .buttons .getstarted {
  width: 130px;
  height: 40px;
  position: relative;
  background-color: #3586FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page .main .container .nav .buttons .getstarted:hover {
  box-shadow: 0 0 12px rgba(53, 134, 255, 0.5);
}

.page .main .container .nav .buttons .getstarted span {
  color: #fff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}

.page .main .container .content {
  position: relative;
  padding-left: 9%;
  padding-right: 9%;
}

.page .main .container .content .demo {
  width: 100%;
  height: 70vh;
  position: relative;
  padding-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page .main .container .content .demo .left {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page .main .container .content .demo .left .text {
  display: flex;
  flex-direction: column;
}

.page .main .container .content .demo .left h1 {
  color: #fff;
  font-family: 'Mate';
  font-size: 290%;
  font-weight: 700;
}

.page .main .container .content .demo .left p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 105%;
  font-weight: 400;
  line-height: 23px;
  margin-top: 22px;
}

.page .main .container .content .demo .left .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 15px;
}

.page .main .container .content .demo .left .buttons .trynow {
  width: 130px;
  height: 40px;
  position: relative;
  background-color: #3586FF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page .main .container .content .demo .left .buttons .trynow:hover {
  box-shadow: 0 0 12px rgba(53, 134, 255, 0.5);
}

.page .main .container .content .demo .left .buttons .trynow span {
  color: #fff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}

.page .main .container .content .demo .left .buttons .jointeam {
  width: 130px;
  height: 40px;
  position: relative;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.page .main .container .content .demo .left .buttons .jointeam span {
  color: #fff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1px;
}

.page .main .container .content .demo .right {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.page .main .container .content .demo .right img {
  width: 70%;
  height: auto;
  position: relative;
}

.page .main .container .content .generation {
  width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 140px;
}

.page .main .container .content .generation .left {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page .main .container .content .generation .left .text {
  display: flex;
  flex-direction: column;
}

.page .main .container .content .generation .left .label {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 15px;
}

.page .main .container .content .generation .left .label svg {
  width: 15px;
  height: 15px;
  position: relative;
}

.page .main .container .content .generation .left .label svg path {
  fill: #3586FF;
}

.page .main .container .content .generation .left .label span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .container .content .generation .left h2 {
  color: #fff;
  font-family: 'Mate';
  font-size: 270%;
  font-weight: 700;
}

.page .main .container .content .generation .left p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 105%;
  font-weight: 400;
  line-height: 23px;
  margin-top: 22px;
}

.page .main .container .content .generation .left .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  row-gap: 30px;
  column-gap: 30px;
}

.page .main .container .content .generation .left .items .item {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.page .main .container .content .generation .left .items .item .icon {
  width: 34px;
  height: 34px;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: rgba(53, 134, 255, 0.2);
  border-radius: 5px;
}

.page .main .container .content .generation .left .items .item .icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3586FF;
  font-size: 22px;
  font-variation-settings: 'FILL' 1;
}

.page .main .container .content .generation .left .items .item .info {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-top: -3px;
}

.page .main .container .content .generation .left .items .item .info .title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Mate';
  font-size: 22px;
  font-weight: 600;
}

.page .main .container .content .generation .left .items .item .info .description {
  color: rgba(255, 255, 255, 0.45);
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .container .content .generation .right {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.page .main .container .content .generation .right img {
  width: 80%;
  height: auto;
  position: relative;
  border-radius: 10px;
}

.page .main .container .content .integration {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #13182E;
  border-radius: 9px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 160px;
}

.page .main .container .content .integration .left {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page .main .container .content .integration .left .text {
  display: flex;
  flex-direction: column;
}

.page .main .container .content .integration .left .label {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 15px;
}

.page .main .container .content .integration .left .label svg {
  width: 15px;
  height: 15px;
  position: relative;
}

.page .main .container .content .integration .left .label svg path {
  fill: #3586FF;
}

.page .main .container .content .integration .left .label span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .container .content .integration .left h2 {
  color: #fff;
  font-family: 'Mate';
  font-size: 270%;
  font-weight: 700;
}

.page .main .container .content .integration .left p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 105%;
  font-weight: 400;
  line-height: 23px;
  margin-top: 22px;
}

.page .main .container .content .integration .left .items {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  column-gap: 18px;
}

.page .main .container .content .integration .left .items .item {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: rgba(53, 134, 255, 0.2);
  border-radius: 6px;
}

.page .main .container .content .integration .left .items .item img {
  width: 30px;
  height: 30px;
  aspect-ratio: 1 / 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page .main .container .content .integration .right {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.page .main .container .content .integration .right .frame {
  width: 80%;
  height: auto;
  aspect-ratio: 511 / 501;
  position: relative;
  background-image: url('/pictures/home/integration.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page .main .container .content .integration .right .frame img {
  width: 32%;
  height: auto;
  position: absolute;
  image-rendering: pixelated;
  top: 30%;
  left: 10%;
  transform-origin: none;
}

.page .main .container .content .roadmap {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 160px;
}

.page .main .container .content .roadmap .label {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 15px;
}

.page .main .container .content .roadmap .label svg {
  width: 15px;
  height: 15px;
  position: relative;
}

.page .main .container .content .roadmap .label svg path {
  fill: #3586FF;
}

.page .main .container .content .roadmap .label span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .container .content .roadmap h2 {
  color: #fff;
  font-family: 'Mate';
  font-size: 270%;
  font-weight: 700;
}

.page .main .container .content .roadmap p {
  width: 650px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 105%;
  font-weight: 400;
  line-height: 23px;
  margin-top: 22px;
  margin-bottom: 80px;
}

.page .main .container .content .roadmap .center {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page .main .container .content .roadmap .stages {
  width: 55%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.page .main .container .content .roadmap .stage {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.page .main .container .content .roadmap .stage .checkpoint {
  width: 28px;
  height: 28px;
  background-color: #11244D;
  border-radius: 3px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
}

.page .main .container .content .roadmap .stage .checkpointActive {
  width: 28px;
  height: 28px;
  background-color: #3586FF;
  border-radius: 3px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 1;
}

.page .main .container .content .roadmap .stage .checkpointActive span {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}

.page .main .container .content .roadmap .stage .checkpointCurrent {
  width: 34px;
  height: 34px;
  background-color: #3586FF;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.page .main .container .content .roadmap .stage .checkpointCurrent span {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  font-weight: 900;
  transform: translate(-50%, -50%);
  top: 47.5%;
  left: 50%;
  font-variation-settings: 'FILL' 1;
}

.page .main .container .content .roadmap .stage .line {
  width: 7.5px;
  position: relative;
  background-color: #3586FF;
}

.page .main .container .content .roadmap .stage .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 50px;
}

.page .main .container .content .roadmap .stage .text .title {
  position: relative;
  color: #ffffff;
  font-family: 'Mate';
  font-size: 200%;
  font-weight: 700;
  margin-bottom: 15px;
  display: flex;
}

.page .main .container .content .roadmap .stage .text .description {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 90%;
  font-weight: 400;
  line-height: 20px;
  display: flex;
}

.page .main .container .content .roadmap .stage img {
  position: absolute;
  top: 50px;
}

.page .main .container .content .roadmap .topLine {
  width: 100%;
  height: 7.5px;
  position: relative;
  background-color: #3586FF;
  border-radius: 0px 10px 0px 10px;
}

.page .main .container .content .roadmap .bottomLine {
  width: 100%;
  height: 7.5px;
  position: relative;
  background-color: #3586FF;
  border-radius: 10px 0px 10px 0px;
}

.page .main .about {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #13182E;
  padding-top: 60px;
  padding-left: calc(9% + 50px);
  padding-right: calc(9% + 50px);
  padding-bottom: 60px;
  margin-top: 80px;
}

.page .main .about .content {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}

.page .main .about .content .left {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
}

.page .main .about .content .left .label {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 30px;
}

.page .main .about .content .left .label svg {
  width: 14px;
  height: 14px;
  position: relative;
}

.page .main .about .content .left .label svg path {
  fill: #3586FF;
}

.page .main .about .content .left .label span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .about .content .left img {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
}

.page .main .about .content .text {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.page .main .about .content .text h2 {
  color: #fff;
  font-family: 'Mate';
  font-size: 180%;
  font-weight: 800;
  line-height: 42px;
  text-transform: uppercase;
}

.page .main .about .content .text h2 span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 160%;
  font-weight: 800;
  text-transform: uppercase;
}

.page .main .container .content .donate {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #13182E;
  border-radius: 9px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 6fr 5fr;
  margin-top: 140px;
}

.page .main .container .content .donate .left {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.page .main .container .content .donate .left .text {
  display: flex;
  flex-direction: column;
}

.page .main .container .content .donate .left .label {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
  align-items: center;
  margin-bottom: 15px;
}

.page .main .container .content .donate .left .label svg {
  width: 15px;
  height: 15px;
  position: relative;
}

.page .main .container .content .donate .left .label svg path {
  fill: #3586FF;
}

.page .main .container .content .donate .left .label span {
  color: #3586FF;
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 450;
}

.page .main .container .content .donate .left h2 {
  color: #fff;
  font-family: 'Mate';
  font-size: 270%;
  font-weight: 700;
}

.page .main .container .content .donate .left h2 span {
  color: #FDCC0D;
  font-size: 38px;
  font-variation-settings: 'FILL' 1;
  margin-left: 10px;
  vertical-align: middle;
  padding-bottom: 8px;
}

.page .main .container .content .donate .left p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 100%;
  font-weight: 400;
  line-height: 23px;
  margin-top: 22px;
}

.page .main .container .content .donate .left .subtitle {
  color: rgba(255, 255, 255, 1);
  font-family: 'Mate';
  font-size: 19px;
  font-weight: 700;
  margin-top: 30px;
  margin-left: 3px;
}

.page .main .container .content .donate .left .items {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 30px;
}

.page .main .container .content .donate .left .items .custom {
  width: calc(100% - 50px - 80px * 5);
  height: 40px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  padding-left: 6px;
  padding-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page .main .container .content .donate .left .items .custom .icon {
  width: 28px;
  height: 28px;
  aspect-ratio: 1 / 1;
  position: relative;
  background-color: rgba(53, 134, 255, 0.2);
  border-radius: 4px;
  margin-right: 6px;
  user-select: none;
}

.page .main .container .content .donate .left .items .custom .icon span {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3586FF;
  font-size: 16px;
  font-weight: 700;
}

.page .main .container .content .donate .left .items .custom input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: 'Mate';
  font-size: 17px;
  font-weight: 600;
  padding-left: 2px;
  padding-bottom: 1px;
}

.page .main .container .content .donate .left .items .custom input:focus {
  outline: none;
}

.page .main .container .content .donate .left .items .custom input::-webkit-outer-spin-button,
.page .main .container .content .donate .left .items .custom input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page .main .container .content .donate .left .items .item {
  width: 80px;
  height: 40px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 17px;
  font-weight: 600;
  padding-right: 2px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.page .main .container .content .donate .left .items .item:hover {
  background-color: rgba(53, 134, 255, 0.2);
  color: #ffffff;
}

.page .main .container .content .donate .left .items .active {
  background-color: #3586FF;
  color: #ffffff;
}

.page .main .container .content .donate .left .items .active:hover {
  background-color: #3586FF !important;
  color: #ffffff;
}

.page .main .container .content .donate .left .message {
  position: relative;
  margin-top: 20px;
}

.page .main .container .content .donate .left .message textarea {
  width: 100%;
  height: 98px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  resize: none;
}

.page .main .container .content .donate .left .message textarea:focus {
  outline: #3586FF solid 3px;
}

.page .main .container .content .donate .left .buttons {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-top: 20px;
}

.page .main .container .content .donate .left .buttons .button {
  width: 140px;
  height: 40px;
  position: relative;
  background-color: #3586FF;
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s ease;
}

.page .main .container .content .donate .left .buttons .button:hover {
  box-shadow: 0 0 12px rgba(53, 134, 255, 0.5);
}

.page .main .container .content .donate .left .buttons .button span {
  font-size: 16px;
  font-variation-settings: 'FILL' 1;
  margin-left: 5px;
}

.page .main .container .content .donate .left .buttons .kickstarter {
  width: 280px;
  height: 40px;
  position: relative;
  background-color: rgba(53, 134, 255, 0.2);
  border-radius: 5px;
  color: #ffffff;
  font-family: 'Mate';
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
}

.page .main .container .content .donate .left .buttons .kickstarter:hover {
  background-color: #ffffff;
  color: rgb(101, 105, 105);
}

.page .main .container .content .donate .left .buttons .kickstarter img {
  width: 120px;
  height: 20px;
  aspect-ratio: 1 / 1;
  margin-left: 6px;
  margin-bottom: -1px;
}

.page .main .container .content .donate .left .buttons .empty {
  width: calc(100% - 30px - 280px - 140px);
  height: 40px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  user-select: none;
  overflow: hidden;
}

.page .main .container .content .donate .right {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.page .main .container .content .donate .right img {
  width: 86%;
  height: auto;
  position: relative;
  display: flex;
  align-self: center;
}

@keyframes about-text-gradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.page .main .about .content .text p {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 90%;
  font-weight: 400;
  line-height: 20px;
}

.page footer {
  width: 100%;
  position: relative;
  background-color: #13182E;
  margin-top: 100px;
}

.page footer .content {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding-top: 40px;
  padding-left: calc(9% + 50px);
  padding-right: calc(9% + 50px);
  padding-bottom: 40px;
}

.page footer .content .surface {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.page footer .content .surface .logo {
  width: auto;
  height: 40px;
  position: relative;
  display: inline-flex;
  user-select: none;
}

.page footer .content .surface .logo img {
  border-radius: 1px;
  margin-right: 10px;
  display: flex;
  align-self: center;
}

.page footer .content .surface .logo span {
  color: #fff;
  font-family: 'Mate';
  font-size: 28px;
  font-weight: 700;
}

.page footer .content .surface .contact {
  width: fit-content;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 35px;
  padding-bottom: 12px;
}

.page footer .content .surface .contact .label {
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Mate';
  font-size: 13px;
  font-weight: 500;
  user-select: none;
}

.page footer .content .surface .contact .value {
  color: #ffffff;
  font-family: 'Mate';
  font-size: 17px;
  font-weight: 600;
}

.page footer .content .surface .copyright {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Mate';
  font-size: 10px;
  font-weight: 400;
  user-select: none;
  margin-top: 10px;
  margin-left: 30px;
}

.page footer .content .links {
  min-width: 30%;
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.page footer .content .links .column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.page footer .content .links .column .title {
  color: #ffffff;
  font-family: 'Mate';
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 14px;
}

.page footer .content .links .column .link {
  font-family: 'Mate';
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.1s ease;
  user-select: none;
}

.page footer .content .links .column .link a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.page footer .content .links .column .link a:hover {
  color: #3586FF;
}

.page footer .content .links .column .disabled a {
  color: rgba(255, 255, 255, 0.3) !important;
  cursor: not-allowed;
}

.page footer .content .links .column .disabled:hover {
  color: rgba(255, 255, 255, 0.3) !important;
}

.page footer .content .social {
  display: flex;
  justify-content: end;
}

.page footer .content .social .column {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.page footer .content .social .column .title {
  color: #ffffff;
  font-family: 'Mate';
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 14px;
}

.page footer .content .social .column .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 11px;
}

.page footer .content .social .column .buttons .linkedin {
  width: 80px;
  height: 60px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page footer .content .social .column .buttons .linkedin:hover {
  background-color: rgba(53, 134, 255, 0.2);
}

.page footer .content .social .column .buttons .linkedin:active {
  background-color: #3586FF;
}

.page footer .content .social .column .buttons .linkedin:active svg path {
  fill: #080B20;
}

.page footer .content .social .column .buttons .kickstarter {
  width: 80px;
  height: 60px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page footer .content .social .column .buttons .kickstarter:hover {
  background-color: rgba(53, 134, 255, 0.2);
}

.page footer .content .social .column .buttons .kickstarter:active {
  background-color: #3586FF;
}

.page footer .content .social .column .buttons .kickstarter:active svg path {
  fill: #080B20;
}

.page footer .content .social .column .buttons .discord {
  width: 80px;
  height: 60px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page footer .content .social .column .buttons .discord:hover {
  background-color: rgba(53, 134, 255, 0.2);
}

.page footer .content .social .column .buttons .discord:active {
  background-color: #3586FF;
}

.page footer .content .social .column .buttons .discord:active svg path {
  fill: #080B20;
}

.page footer .content .social .column .buttons .x {
  width: 80px;
  height: 60px;
  position: relative;
  background-color: #21233D;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease;
}

.page footer .content .social .column .buttons .x:hover {
  background-color: rgba(53, 134, 255, 0.2);
}

.page footer .content .social .column .buttons .x:active {
  background-color: #3586FF;
}

.page footer .content .social .column .buttons .x:active svg path {
  fill: #080B20;
}

.page footer .content .copyrightMobile {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Mate';
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  user-select: none;
  margin-top: 50px;
  display: none;
}

@media (max-width: 576px) {
  .page .main .container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .page .main .container .content {
    padding-left: 0;
    padding-right: 0;
  }

  .page .main .about .content img {
    width: 100%;
  }

  .page .main .container .content .roadmap .stages {
    width: 100%;
  }

  .page footer .content .surface {
    align-items: center;
  }

  .page footer .content .surface .copyright {
    display: none;
  }

  .page footer .content {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
  }

  .page footer .content .links {
    margin-top: 50px;
    flex-wrap: wrap;
    row-gap: 30px;
  }

  .page footer .content .social {
    justify-content: center;
    margin-top: 50px;
  }

  .page footer .content .social .column .title {
    text-align: center;
  }

  .page footer .content .copyrightMobile {
    display: block;
  }
}